@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .title {
    @apply md:text-[48px] text-[30px] font-normal tracking-normal md:leading-[57.6px] leading-[37px] font-kdam text-white;
  }
  .subTitle {
    @apply md:text-xl text-lg font-normal tracking-normal leading-[24px] font-kdam text-white;
  }
  .paragraph {
    @apply text-[16px] font-normal tracking-normal leading-[24px] font-poppins text-[#C5C5C5];
  }
  .challange-title {
    @apply text-[32px] font-inter font-semibold leading-[38.4px] text-[#ECECEC];
  }
  .challange-subTitle {
    @apply text-[24px] font-inter font-semibold leading-[28.4px] text-[#ECECEC];
  }
}

.text-shadow {
  color: var(--Foundation-White-Normal, #fff);
  -webkit-text-stroke-width: 7px;
  -webkit-text-stroke-color: #000;
  font-family: "Kdam Thmor Pro";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.btn {
  cursor: pointer;
  font-family: "system-ui";
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 16px 61px;
  transition: 1262ms;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 1px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.2px;
  background: linear-gradient(
    90deg,
    rgb(143, 55, 255) 20%,
    rgb(45, 23, 255) 100%
  );
}

.btn-outline {
  cursor: pointer;
  font-family: "system-ui";
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 16px 61px;
  transition: 1262ms;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 1px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.2px;
  border: 1px solid #eee1ff;
}
.btn:hover {
  background: linear-gradient(
    180deg,
    rgb(143, 55, 255) 20%,
    rgb(45, 23, 255) 100%
  );
  scale: 1.1;
}

.gradient-border {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  background: white;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: -5px; /* Controls border thickness */
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(45deg, #ff0000, #0000ff);
}

.element {
  position: relative;
  border-radius: 10px;
  background: linear-gradient(45deg, #ff0000, #0000ff);
  -webkit-mask:
    linear-gradient(white 0 0) content-box,
    linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
  padding: 5px;
}

.textshadow {
  font-size: 4rem !important;
  font-weight: 800 !important;
  -webkit-text-stroke: 2px black;
}
